name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Get golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s v1.43.0
      - name: Run golangci-lint
        run: |
          ./bin/golangci-lint run --out-format=github-actions --issues-exit-code=1

  build:
    name: Build Go ${{ matrix.go }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.18', '1.17', '1.16', '1.15', '1.14' ]
    env:
      CGO_ENABLED: 0
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Setup go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go }}

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: go vet
      run: go vet ./...

    - name: Test
      run: go test -tags=test -count=1 ./...
